.idea/
app/.htaccess
app/Mage.php
app/bootstrap.php
app/code/community/Cm/
app/code/community/Phoenix/
app/code/core/
app/code/locale/
app/design/
!app/design/frontend/base/default/layout/slider.xml
app/etc/local.xml
app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/fpc.xml
app/etc/modules/Mage_All.xml
app/etc/modules/Mage_Api.xml
app/etc/modules/Mage_Api2.xml
app/etc/modules/Mage_Authorizenet.xml
app/etc/modules/Mage_Bundle.xml
app/etc/modules/Mage_Captcha.xml
app/etc/modules/Mage_Centinel.xml
app/etc/modules/Mage_Compiler.xml
app/etc/modules/Mage_ConfigurableSwatches.xml
app/etc/modules/Mage_Connect.xml
app/etc/modules/Mage_CurrencySymbol.xml
app/etc/modules/Mage_Downloadable.xml
app/etc/modules/Mage_ImportExport.xml
app/etc/modules/Mage_LoadTest.xml
app/etc/modules/Mage_Oauth.xml
app/etc/modules/Mage_PageCache.xml
app/etc/modules/Mage_Persistent.xml
app/etc/modules/Mage_Weee.xml
app/etc/modules/Mage_Widget.xml
app/etc/modules/Mage_XmlConnect.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/etc/modules/Cm_RedisSession.xml
app/locale/en_US/
!app/locale/pl_PL/
dev/
downloader/
errors/
includes/
js/
lib/
media/
mysql/
shell/
skin/adminhtml/
skin/frontend/base
!skin/frontend/base/default/css/slider/slider.css
skin/frontend/base/default/css/email-inline.css
skin/frontend/base/default/css/email-non-inline.css
skin/frontend/base/default/css/widget.css
skin/frontend/base/default/images/
skin/frontend/base/default/js/
skin/frontend/base/default/lib/
skin/frontend/base/default/favicon.ico
skin/frontend/default/
skin/frontend/enterprise
skin/frontend/rwd
skin/install/
var/
.htaccess
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
RELEASE_NOTES.txt
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
mage
php.ini.sample





